
@{
    ViewData["Title"] = "DisplayEmpVal";
}

<h1>Display Employee Details</h1>
<p>Hello, Emp Id @ViewBag.Id</p>
<p>Your Name @ViewBag.Name</p>
<p>Your Email @ViewBag.Email</p>
<p>Your Age @ViewBag.Age</p>
<p>You're Salary @ViewBag.Salary</p>

